/* index.css */
:root {
  background-color: #f1f5f9;
  /* アプリ外側の背景も薄いグレーに統一 */
}

body {
  margin: 0;
  padding: 0;
  background-color: #505254;
  color: #0f172a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

#root {
  width: 100%;
}